---
import Layout from '../layouts/Layout.astro';
import SocialButton from '../components/SocialButton.astro';
import githubIcon from '../assets/icons/github.svg';
import linkedInIcon from '../assets/icons/linkedin.svg';
import ListSignupForm from '../components/ListSignupForm';
import funnotesImage from '../assets/funnotes.png';
---

<Layout title="Farolan Faisal">
	<main id="root" class="container container-ext min-h-[calc(100vh-80px)] py-65px">
		<h1 class="font-black mt-0">Farolan Faisal</h1>
		<p>Hey! I'm a full stack engineer from Kalsel, Indonesia and I love making apps and websites.</p>
		<p>It's a bit spacious at the moment as most of the projects I have worked on can't be disclosed here.</p>

		<h2>Projects</h2>

		<a href="https://play.google.com/store/apps/details?id=dev.farol.funnotes" target="_blank" rel="noopener">
			<h3 class="mb-2">FunNotes - Customizable Note Taking App</h3>
			<img src={funnotesImage} alt="FunNotes app" class="m-0 funnotes-img shadow-lg" />
		</a><br />
		<a href="https://www.youtube.com/shorts/BdgugaiyBRc" target="_blank" rel="noopener">Video</a> | 
		<a href="https://play.google.com/store/apps/details?id=dev.farol.funnotes" target="_blank" rel="noopener">Store</a>
		
		<section>
			<h2 class="font-black">Want news and updates?</h2>
			<p class="text-2xl font-bold text-green-600">Sign up for my newsletter.</p>
			<ListSignupForm client:idle />
		</section>

		<section>
			<ul class="list-none flex flex-row items-center mt-50px">
				<li class="md:mr-10px">
					<SocialButton
						title="GitHub"
						iconSrc={githubIcon}
						href="https://github.com/farolanf"
					/>
				</li>
				<li class="md:mr-10px">
					<SocialButton
						title="LinkedIn"
						iconSrc={linkedInIcon}
						href="https://www.linkedin.com/in/farolanfaisal"
					/>
				</li>
			</ul>
		</section>
	</main>
	<footer class="h-80px flex justify-center items-center">
		Made with ❤️ by Farol
	</footer>
	<script>
		(function(){
			const STEP = 5
			const steps: number[] = []

			for (let i = 0; i <= 100; i += STEP) {
				steps.push(i)
			}

			const scrollEl = document.documentElement
			const clsEl = document.getElementById('root')!

			function update() {
				const maxY = scrollEl.scrollHeight - scrollEl.clientHeight
				const t = window.scrollY / maxY * 100
				steps.forEach(n => {
					const cls = `t-${n}`
					if (t < n) clsEl.classList.remove(cls)
					else clsEl.classList.add(cls)
				})
			}

			window.onload = () => {
				update()
				window.addEventListener('scroll', update)
			}
		})()
	</script>
</Layout>

<style>
	#root {
		transition: all 1s ease-out;
	}

	.funnotes-img {
		position: relative;
		transition: all .8s ease-out;
		opacity: 0;
		transform: translateX(20px);
	}
	.t-5 .funnotes-img {
		opacity: 1;
		transform: translateX(0);
	}
</style>
