---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-100px leading-100px">
		<h1 class="text-[#00ff00] text-center inline align-middle">Farolan Faisal</h1>
		<span role="button" class="cursor-pointer py-10px px-20px bg-blue-500 text-white font-bold shadow-sm hover:shadow active:(select-none !shadow-inner)">Button</span>
	</main>
</Layout>

<style>
</style>
